header {
	
    width: 100%;
    height: 200px;
}

nav{
	
    width: 100%;
    height: 200px;
}

article{
        
        width: 100%;
        height: 200px;	
}

section{
        
        width: 100%;
        height: 200px;	
}

aside{
	  width: 100%;
	  height: 200px;
}

footer{
	   
	   width: 100%;
	   height: 200px;
}  

nav li {
         display: inline-block;
         border: 2px; border-color: red;
         border-style: solid;

         font-family: 'Oswald', sans-serif;
         font-size: 36px ;

}

nav { 
    text-align: center;
}






body { background-color: #8C8C8C; 
    font-family: 'Oswald', sans-serif;}
h1{ color : #E51D20; 
font-family: 'Oswald', sans-serif; font-size: 44px;
}
h2{ color : #7E1710;
font-family: 'Oswald', sans-serif;
font-size: 40px;
}
p{ color: #040404;
font-family: 'Oswald', sans-serif;
}


.container {
width: 75%;
margin: auto;
}

img { width: 100%;} 

.main {
      font-size: 40px;



}